# 1.基础数据

## 1.1 股票列表

In [5]:
import tushare as ts
pro=ts.pro_api()
import pandas as pd
import numpy as np

- 输入参数
|名称|描述|
|:-:|:-:|
|is_hs|是否深港通标的,N否，H沪股通，S深股通|
|list_status|上市状态：L上市，D退市，P暂停上市|
|exchange|交易所：SSE上交所，SZSE深交所，HKEX港交所|

- 输出参数
|名称|描述|
|:-:|:-:|
|ts_code|TS代码|
|symbol|股票代码|
|name|股票名称|
|area|所在地域|
|industry|行业|
|fullname|全称|
|enname|英文全称|
|market|市场类型（主板/中小板/创业板/科创板)|
|exchange|交易所代码|

In [8]:
#查询当前正常上市交易的股票列表
x=pro.stock_basic(list_status='l',fields='ts_code,symbol,name,area,industry,list_date')
x.head()

     ts_code  symbol  name area industry list_date
0  000001.SZ  000001  平安银行   深圳       银行  19910403
1  000002.SZ  000002   万科A   深圳     全国地产  19910129
2  000004.SZ  000004  国农科技   深圳     生物制药  19910114
3  000005.SZ  000005  世纪星源   深圳     环境保护  19901210
4  000006.SZ  000006  深振业A   深圳     区域地产  19920427

## 1.2 交易日历
>trade_cal 获取各大交易所交易日历数据，默认提取的是上交所

In [10]:
pro.trade_cal(start_date='20200101',end_date='20200224').head(20)

   exchange  cal_date  is_open
0       SSE  20200101        0
1       SSE  20200102        1
2       SSE  20200103        1
3       SSE  20200104        0
4       SSE  20200105        0
5       SSE  20200106        1
6       SSE  20200107        1
7       SSE  20200108        1
8       SSE  20200109        1
9       SSE  20200110        1
10      SSE  20200111        0
11      SSE  20200112        0
12      SSE  20200113        1
13      SSE  20200114        1
14      SSE  20200115        1
15      SSE  20200116        1
16      SSE  20200117        1
17      SSE  20200118        0
18      SSE  20200119        0
19      SSE  20200120        1

## 1.3 沪深股通成分股